In [2]:
import pandas as pd
airbnb = pd.read_csv("listings.csv")

In [5]:
airbnb.describe()

,id,scrape_id,thumbnail_url,medium_url,xl_picture_url,host_id,host_acceptance_rate,host_listings_count,host_total_listings_count,latitude,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,jurisdiction_names,calculated_host_listings_count,reviews_per_month
count,2.255200e+04,2.255200e+04,0.0,0.0,0.0,2.255200e+04,0.0,22526.000000,22526.000000,22552.000000,...,18163.000000,18138.000000,18141.000000,18120.000000,18134.000000,18121.000000,18117.000000,0.0,22552.000000,18638.000000
mean,1.571560e+07,2.018111e+13,NaN,NaN,NaN,5.403355e+07,NaN,2.330685,2.330685,52.509824,...,94.413863,9.663965,9.324955,9.713521,9.730672,9.505491,9.411106,NaN,1.918233,1.135525
std,8.552069e+06,4.812607e+00,NaN,NaN,NaN,5.816290e+07,NaN,19.947823,19.947823,0.030825,...,7.639644,0.740039,1.031996,0.704620,0.686614,0.762161,0.841492,NaN,3.667257,1.507082
min,2.015000e+03,2.018111e+13,NaN,NaN,NaN,2.217000e+03,NaN,0.000000,0.000000,52.345803,...,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,NaN,1.000000,0.010000
25%,8.065954e+06,2.018111e+13,NaN,NaN,NaN,9.240002e+06,NaN,1.000000,1.000000,52.489065,...,92.000000,10.000000,9.000000,10.000000,10.000000,9.000000,9.000000,NaN,1.000000,0.180000
50%,1.686638e+07,2.018111e+13,NaN,NaN,NaN,3.126711e+07,NaN,1.000000,1.000000,52.509079,...,97.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,1.000000,0.540000
75%,2.258393e+07,2.018111e+13,NaN,NaN,NaN,8.067518e+07,NaN,2.000000,2.000000,52.532669,...,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,1.000000,1.500000
max,2.986735e+07,2.018111e+13,NaN,NaN,NaN,2.245081e+08,NaN,1676.000000,1676.000000,52.651670,...,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,45.000000,36.670000

In [5]:
import numpy as np
import timeit

In [16]:
np.sum([x**2 for x in range(1,1000000)])

333332833333500000

In [4]:
sum([x**2 for x in range(1,1000000)])

333332833333500000

In [10]:
def mysum(*a): return np.sum(a)

In [14]:
mysum()
mysum(42)
mysum(1,23,134,.8,0xB)

169.80000000000001

In [82]:
def freqchar(s):    
    letters = {letter:0 for letter in s}
    for letter in s : letters[letter] += 1 
    sortlet = sorted(letters.items(),key=lambda kv: kv[1])
    return sortlet[:-3:-1]

In [83]:
freqchar("aaaabccccdd")

[('c', 4), ('a', 4)]

In [77]:
def frq2(s):
    from collections import Counter
    c = Counter(s)
    return c.most_common(2)

In [80]:
frq2("aaabcccdd")

[('a', 3), ('c', 3)]

In [108]:
from functools import lru_cache

@lru_cache()
def fibo(len):
    if len in [1,2]:
        return 1
    else:
        fib = fibo(len-1)+fibo(len-2)
        return fib

In [109]:
print(fibo(40))

102334155

In [3]:
import sys
sys.version

'3.6.7 |Anaconda, Inc.| (default, Oct 28 2018, 19:44:12) [MSC v.1915 64 bit (AMD64)]'

In [1]:
def adder(f):
    def actualadd(n):
        return(f+n)
    return actualadd

In [2]:
myadder = adder(5)
myadder(100)

105

In [4]:
import time

def isPositive(original_fun):
    def logged_function(arg):
        if arg > 0:
            print(f'they are invoking it with {arg}')
            result = original_fun(arg)
            print(f'the result it gave was {result}')
            return result
        else:
            print(f'Error: not a positive argument')
    return logged_function

In [5]:
@isPositive
def dosomething(k):
    time.sleep(3)
    return k + 1

print(dosomething(34))

they are invoking it with 34
the result it gave was 35
35

In [7]:
print(dosomething(-3))

Error: not a positive argument
None